name: Tests
on:
  push:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone our repository
        uses: actions/checkout@v4
      - name: Setup latest Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          pip install pip --upgrade
          pip install -e .[devel]
      - name: Test with pytest and create coverage report
        run: pytest --cov=autonav --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./coverage.xml
